<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>payment-methods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="first-div">
    <ion-row class="ion-justify-content-center">
        <h3 class="h1-class">Metodo de Pago </h3>
     </ion-row>
     <ion-row class="ion-justify-content-center">
       <h5 class="h2-class">Precio Total: ${{totalFare }} </h5>
   </ion-row>
    <ion-row class="ion-justify-content-center">
         <p class="h2-class ion-no-margin ion-text-uppercase">Tiempo del Viaje Aproximado es: {{tripTime}}</p>
    </ion-row>
  </div>

  <ion-radio-group [(ngModel)]="selectedMethod">
    <div *ngFor="let method of paymentMethods" class="card" [class.selected]="selectedMethod === method.id">
      <div class="card-content" (click)="selectMethod(method.id)">
        <img [src]="method.icon" alt="icon" class="icon" />
        <div class="details"></div>
        <ion-radio slot="end" [value]="method.id"></ion-radio>
      </div>
    </div>
  </ion-radio-group>
</ion-content>
