ion-fab-button{
    position: relative;
    left: 225px;
     top:-50px;
    height: 40px;
    width: 40px;
}
ion-icon{
    height: 27px;
    width: 27px;  
}

ion-input{
    margin:10px;
    padding:10px;
}

ion-button[color="dark"]{
    text-transform: initial;
    width: 98%;
}
.emailLabel{
    font-size: 22px;
    padding-left: 30PX;
}