.price{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
}

.location-text{
    font-size: 14px;
    color: #515151;
    margin-top: 10px;
}

.history-title{
    font-size: 20px;
    font-weight: bold;
    color: #515151;
    margin-top: 10px;
}