
ion-footer{
  padding: 10px;
}

.setting-title{
    font-size: 20px;
    font-weight: bold;
    color: #515151;
    margin-top: 10px;
}

ion-item {

    height: 60px;
    margin-top: 10px;
}

.ion-margin-top{
      height: 100%;
      
}

.Name{
  font-size: 24px !important;
  font-weight: bold !important;
  color: #515151 !important; 
  font-family: 'Montserrat', sans-serif !important;
  text-align: center !important;
}

.Title{
  font-size: 22px !important;
  font-weight: bold !important;
  color: #515151 !important; 
  font-family: 'Montserrat', sans-serif !important;
}

ion-content{
  font-size: 20px !important;
  color: #515151 !important; 
  font-family: 'Montserrat', sans-serif !important;
}

ion-label{
  font-size: 20px !important;
}