ion-content{
    --background: none; // Remove default background
    background: url('/assets/images/Home2.png') no-repeat center center / cover;
    
    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      //background-color: rgba(252, 247, 247, 0.3); // Dark overlay clearly for contrast
      z-index: 0;
    }
  }

 .first-div {
    padding-top: 30px;
    padding-bottom: 30px;
 } 

.card {
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin-bottom: 16px;
    padding: 12px;
    transition: box-shadow 0.3s ease;
    height: 80px;
    &.selected {
      box-shadow: 0 0 0 2px #A329E8;
    }
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 150px;
    margin-right: 12px;
  }
  
  .details {
    flex: 1;
  
    .title {
      font-weight: bold;
      margin-bottom: 2px;
    }
  
    .meta {
      font-size: 12px;
      color: gray;
    }
  }
  