<ion-header>
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="uar-title">U A R </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
   
  <ion-list-header>
    <ion-label>Change Password </ion-label>
  </ion-list-header>
  
       <!-- <ion-item>
          <ion-input color="favorite" type="password" label-placement="floating" fill="outline" label="Contrasena corriente" placeholder="Contrasena corriente" [(ngModel)]="loggedInUser.password">
            <ion-icon slot="start" name="lock-closed"  ></ion-icon>
            
          </ion-input>
       </ion-item> -->
    
       <ion-item lines="none">
        <ion-input color="favorite" type="password" label-placement="floating" fill="outline" label="Contrasena Nueva" placeholder="Contrasena Nueva" 
        [(ngModel)]="loggedInUser.password2" [clearInput]="true" required>
          <ion-icon color="favorite" slot="start" name="lock-closed"   ></ion-icon>
        </ion-input>
       </ion-item>
     
       <ion-item lines="none">
        <ion-input color="favorite" type="password" label-placement="floating" fill="outline" label="Confirmar Contrasena Nueva" placeholder="Confirmar Contrasena Nueva" 
        [(ngModel)]="password3" [clearInput]="true" required>
          <ion-icon color="favorite" slot="start" name="lock-closed"   ></ion-icon>
        </ion-input>
       </ion-item>
   
       <ion-button expand="block"  fill="solid" class ="continue-button"    (click)="SaveChange()">Save</ion-button>
 

</ion-content>