// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-favorite: #470C85;
    --ion-color-favorite-rgb: 255, 145, 37;
    --ion-color-favorite-contrast: #000000;
    --ion-color-favorite-contrast-rgb: 255, 255, 255;
    --ion-color-favorite-shade: #470C85;
    --ion-color-favorite-tint: #000000;
  }