.first-div{
    text-align: center;
}
.input {
    border: 0.5px solid rgb(210, 210, 210);
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 3px;
    font-size: 0.9em !important;
}
.default-header {
    background: #f8f8f8;
}
.label {
    font-size: 12px;
}
.small {
    font-size: 14px;
    color: rgb(120, 120, 120);
}
.icon {
    font-size: 21px;
}
.cards-list {
    max-height: calc(50vh - 33px);
    overflow: scroll;
}
.bottom {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.add-payment-div {
    margin-bottom: 10px;
    padding: 10px;
}

.contentSection {
    background: #fff;
}

.cardContentSection {
    display: flex;
    align-items: center;

    ion-label {
        width: 80%;
    }
}
.cardImage {
    width: 75px;
}

.lockSection {
    display: flex;
    align-items: flex-start;
}

.lockIcon {
    font-size: 21px;
    padding-right: 8px;
}

.secureTextSection {
    padding-top: 5px;
}

.h2-class{
    align-items: center;
}

.cash-lable{
  height: 70px;
  display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%; /* Ensures it takes the full width */
    text-align: center;
}

.single-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .swiper {
    width: 100%;
    height: 300px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }

