ion-content {
    --background: none; // Remove default background
    background: url('/assets/images/Home2.png') no-repeat center center / cover;
    
    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      //background-color: rgba(252, 247, 247, 0.3); // Dark overlay clearly for contrast
      z-index: 0;
    }
  
    
  }