<ion-content>
  <br />
  <br />
  <ion-label class="custom-label ion-text-center">UAR</ion-label>
  <br />
  <br />
  <div class="divInput">
    <ion-input
      #emailInput
      [(ngModel)]="user.email"
      type="email"
      placeholder=""
      label="Email"
      label-placement="floating"
      fill="solid"
      class="gradient-input"
      [class.input-error]="emailError"
      [clearInput]="true"
      (keydown.enter)="focusNext(passwordInput)"
      (keydown.tab)="focusNext(passwordInput)"
    >
    </ion-input>
    <ion-input
      #passwordInput
      [(ngModel)]="user.password"
      type="password"
      placeholder=""
      label="Password"
      label-placement="floating"
      fill="solid"
      class="gradient-input"
      [ngClass]="{'input-error': passwordError}"
      [clearInput]="true"
      (keydown.enter)="submitIfValid()"
      (keydown.tab)="submitIfValid()"
    ></ion-input>
  </div>

  <ion-button
    expand="block"
    (click)="forgotPassword()"
    fill="clear"
    class="content-div"
    >Forgot Password?</ion-button
  >
  <ion-button
    expand="block"
    (click)="login()"
    fill="solid"
    class="continue-button"
    >Continue</ion-button
  >
  <ion-button
    expand="block"
    (click)="goToRegister()"
    fill="clear"
    class="content-div"
    >Don't have an account? <b style="color: #000000"> Sign up</b></ion-button
  >



</ion-content>
