ion-content {
    --background: none; // Remove default background
    background: url('/assets/images/Home2.png') no-repeat center center / cover;
    
    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      //background-color: rgba(252, 247, 247, 0.3); // Dark overlay clearly for contrast
      z-index: 0;
    }
  
    
  }


  .userImg{
    display: block;
    padding-top: 20px;
    //padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
    width: 100p;
}

.center-card {
  display: flex;
  justify-content: center;
}

.add-payment-div {
  margin-bottom: 10px;
  padding: 10px;
}

.contentSection {
  background: #fff;
}

.cardContentSection {
  display: flex;
  align-items: center;

  ion-label {
      width: 80%;
  }
}
.cardImage {
  width: 40px;
}

.lockSection {
  display: flex;
  align-items: flex-start;
}

.lockIcon {
  font-size: 21px;
  padding-right: 8px;
}

.secureTextSection {
  padding-top: 5px;
}


#cardSelect{
  margin-left: 20px;
}

.avatar-container {
    
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto; // centra horizontalmente
}

.big-avatar {
  width: 100%;
  height: 100%;
  border: 8px solid #fffafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.big-avatar img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.camera-button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0%, 30%);
  z-index: 10;

  width: 44px;
  height: 44px;
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; // o lo que necesites
}