ion-item {

    height: 60px;
    margin-top: 10px;
}

.ion-margin-top{
      height: 100px;
}

.car-lable{

    height: 70px;
}

.car-lable input {
    text-transform: uppercase;
  }