
<ion-header>
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="uar-title">U A R </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-row class="ion-margin-top">
     
  </ion-row>
  <ion-list>
    <ion-list-header>
      <ion-label>Legal </ion-label>
    </ion-list-header>
    <ion-item [button]="true" class="itemClass" lines="none">
      <ion-label>Copyright</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item [button]="true" class="itemClass" lines="none">
      <ion-label>Terminos y Condiciones</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item [button]="true" class="itemClass" lines="none">
      <ion-label>Poliza de Privacidad</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item [button]="true" class="itemClass" lines="none">
       <ion-label>Proveedores de Datos</ion-label>
      <ion-note slot="end"></ion-note>
    </ion-item>
    <ion-item [button]="true" class="itemClass" lines="none">
      <ion-label>Licencia de Software</ion-label>
     <ion-note slot="end"></ion-note>
   </ion-item>
   <ion-item [button]="true" class="itemClass" lines="none">
    <ion-label>Information de localidad</ion-label>
   <ion-note slot="end"></ion-note>
 </ion-item>
  </ion-list>
  
  
  
</ion-content>

 